name: Build extensibility examples

on:
  pull_request:
    paths:
      - 'extensibility/**'

permissions:
  contents: read

jobs:
  extensibility-test:
    strategy:
      fail-fast: true
      matrix:
        os: [ubuntu-latest, macos-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Print build information
        run: 'echo head_ref: ${{ github.head_ref }}, ref: ${{ github.ref }}, os: ${{ matrix.os }}'
      - uses: actions/checkout@v2
      - name: Set up Go
        uses: actions/setup-go@v3.0.0
        with:
          go-version: '1.22'
      - name: build
        working-directory: extensibility
        run: go build ./...
