name: Test, build and publish promql-to-scrape

on:
  push:
    paths:
      - 'cloud/observability/promql-to-scrape/**'
    branches:
      - main
    tags:
      - v*
  pull_request:
    paths:
      - 'cloud/observability/promql-to-scrape/**'

env:
  IMAGE_NAME: promql-to-scrape

jobs:
  push:
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Setup Docker metadata
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: |
            ghcr.io/${{ github.repository_owner }}/${{ env.IMAGE_NAME }}
          tags: |
            type=raw,value=latest,enable={{is_default_branch}}
            type=raw,value={{branch}}
            type=ref,event=branch
            type=ref,event=pr
            type=sha

      - name: Build and Push
        uses: docker/build-push-action@v6
        with:
          context: cloud/observability/promql-to-scrape
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          platforms: linux/amd64,linux/arm64
          push: true
