name: Test

on:
  workflow_call:

permissions:
  contents: read

jobs:
  test:
    strategy:
      fail-fast: true
      matrix:
        os: [ubuntu-latest, macos-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Print build information
        env:
          HEAD_REF: ${{ github.head_ref }}
          REF: ${{ github.ref }}
          OS: ${{ matrix.os }}
        run: echo "head_ref=$HEAD_REF ref=$REF os=$OS"
      - uses: actions/checkout@v6
      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: '1.20'
      - name: build
        working-directory: cloud/observability/promql-to-dd-go
        run: make build
      - name: test
        working-directory: cloud/observability/promql-to-dd-go
        run: make test
